@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.0001);
}
a{
    all: unset;
    cursor: pointer;
}
.top-nav li{
    display: inline-block;
    padding: 25.5px 36px;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    color: rgba(255, 0, 0, 1);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
}



.main-img{
    height: 789px;
    width: 1280px;
}



h2{
    text-transform: uppercase;
    color: rgba(55, 55, 55, 1);
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    margin-top: 49px;
}



.pagraph-one{
    max-width: 1145px;
    margin-top: 38px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: rgba(55, 55, 55, 1);
}



.pagraph-two{
    max-width: 1145px;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: rgba(55, 55, 55, 1);
}



.start-btn{
    background-color: rgba(255, 0, 0, 1);
    height: 51px;
    width: 191px;
    border-radius: 4px;
    cursor: pointer;
    border:  none;
    margin-top: 66px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}


.copy{
    margin: 82px 105px 29px 0;
    text-align: end;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: rgba(55, 55, 55, 1);
}